<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <script src = "https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src = "./js/interfaz.js"></script>
    <link href="css/estilo.css" rel="stylesheet">

</head>
<body>
    
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h1>HOME</h1>
            <button class="btnS">Cerrar Sesion</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <span class="nombres">Admin</span><span class="ids">Id</span><span class="telefonos">Telefono</span><span class="emails">Email</span><span class="direccions">Direccion</span>
    
</body>
<div class="">

  <script> </script>

</div>
</html>