<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prueba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>   
    <script src="./js/Registro.js"></script> 
    
    <link rel="stylesheet" href="css/registro.css">
  </head>
  <body>

    <div class="login-box">
        <img class="avatar" src="img/logo.png" alt="Logo de JM">
        <h1>Registro</h1>
        
        
        <form>
            <!-- USUARIO -->
            <label for="input-mail">Correo Electronico</label>
            <input type="text" class="form-control" id="input-mail" placeholder="correo@dominio.ext">

            <!-- NOMBRE -->
            <label for="input-mail">Nombre</label>
            <input type="text" class="form-control" id="input-name" placeholder="Marlon Jair Hernández De la Rosa">
            

            <!-- PASSWORD -->
            <label for="input-password">Contraseña</label>
            <input type="password" class="form-control" id="input-password" placeholder="***********">

            
            <input type="button" value="Registrame" class = "btn btn-primary">
            <a href="#" class="btn btn-secondary">Regresar</a>
        
            
            
        </form>
    </div>


  </body>
</html>